<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Olá, Vue.js!</title>
    <script src="./assets/js/vue.js"></script>
</head>

<body class="ui container">
    <div id="app">
        <header>
            <h1>Hello World</h1>
        </header>
        
        <br>
        <hr>
        <ul>
            <header-component v-for="todo in todos" v-bind:todo="todo" v-bind:key="todo.id" />
        </ul>

        <div class="ui input focus">
            <input class="ui button" type="text" v-model="conteudo" placeholder="Digite Algo">
            <input type="text" v-model="conteudo">
        </div>

        <hr>
        <dl v-if="verifica">
            <dd v-for="lista in listas">
                ID: <b>{{lista.id}}</b> <br>
                NOME: <b>{{lista.nome}}</b><br>
                IDIOMA: <b>{{lista.idioma}}</b><br><br>
            </dd>

        </dl>
        <p v-else>Nada a ser exibido</p>
        <hr>
        <br>
        <div class="ui center aligned container">
            <h1 v-html="mensagem" :style="myStyle"></h1>
            <button class="ui button" v-on:click="mudaCor">Clique Aqui</button>
        </div>

    </div>

    <script>
        Vue.component('header-component', { props: ['todo'], template: '<li>{{todo.text}}</li>' })
        var app = new Vue({
            el: '#app',
            data: {
                mensagem: 'Olá, Vue.js!',
                todos: [
                    { id: 1, text: 'Estudar' },
                    { id: 2, text: 'Comer' },
                    { id: 3, text: 'Dormir' },
                ],
                n: 5,
                listas: [
                    {
                        id: 1,
                        nome: 'Leo',
                        idioma: "PT-BR"
                    },
                    {
                        id: 2,
                        nome: 'Bruno',
                        idioma: "PT-PT"
                    },
                    {
                        id: 3,
                        nome: 'MAt',
                        idioma: "PT-BR"
                    }
                ],
                verifica: true,
                conteudo: "Espelho Espelho Meu",
                myStyle: {
                    color: '#00ccff'
                }
            },
            methods: {
                exibeAlerta: function (param) {
                    this.mensagem = param
                },
                mudaCor: function () {
                    if(this.verifica){
                        this.myStyle = { color: '#f00' };
                        this.mensagem = "Tchau, Vue.js!";
                    }
                    else{
                        this.myStyle = "color: #0f0";
                        this.mensagem = "Olá, Vue.js!";
                    }
                    this.verifica = !this.verifica
                },
                onLoadPage: function (param) {
                    alert(param)
                }
            },

        });
    </script>
</body>

</html>